* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  color: white;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "sidebar main main main main";
}

@media (max-width: 600px) {
  .container {
    grid-template-areas:
      "header"
      "sidebar"
      "main";
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header {
  grid-area: header;
  background-color: #404654;
  color: white;
}

.header img {
  width: 7em;
  border: 3px solid white;
  border-radius: 50%;
  float: left;
  aspect-ratio: 1/1;
}

header #name {
  float: right;
}

header * {
  margin: 20px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #484f60;
  color: white;
}

.sidebar .contact,
.skills,
.languages {
  margin: 20px;
}

.sidebar .contact *,
.skills *,
.languages * {
  margin: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container * {
  background-color: #7997cf;
  padding: 0.5rem;
  border-radius: 1.25rem;
}

.main {
  grid-area: main;
  background-color: #ffffff;
}

.main h2 {
  color: #454d56;
}

.main hr {
  color: #94a7bb;
}

.main .summary,
.experience,
.exp,
.education,
.edu,
.projects {
  margin: 20px;
}

.main .summary *,
.experience *,
.exp *,
.education *,
.edu *,
.projects * {
  margin: 5px;
}

.place {
  color: #929498;
  font-style: italic;
}

.date {
  color: #acb0b3;
}
