* {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.left-column {
  background-color: #404654;
  color: white;
  padding: 20px;
}

.left-column img {
  width: 50%;
  display: block;
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 50%;
}

.title {
  margin-top: 20px;
  text-align: center;
}

.contact,
.skills {
  margin: 20px;
}

.contact *,
.skills * {
  margin: 5px;
}

.right-column {
  background-color: rgb(233, 231, 231);
  padding: 20px;
}

.right-column h2 {
  color: #444a52;
}

.date {
  color: #a4a4a6;
  font-style: italic;
}

.summary,
.experience,
.education,
.projects,
#exp1,
#exp2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.summary *,
.experience *,
.education *,
.projects * {
  margin-top: 5px;
  margin-bottom: 5px;
}
